---
---

@import "{{ site.theme }}";

body {
  color: #ebf1f4;
}
a {
  color: #59caff;
}
section {

  #title {
    p {
      color: #cceeff        
    }
  }
}

#footer {
  max-width: 650px;
  margin: 0 auto;
  position: relative;

  .credits {
    font-size: 11px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #696969;

    &.left {
      float: left;
    }
    
    &.right {
      float: right;
    }
  }
}

@media print, screen and (max-width: 720px) {
  #footer {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      .left {
        float: none;
        display: block;
      }

      .right {
        float: none;
        display: block;
      }
    }
  }
}

#header {
  
  nav {
    
    li {
      
      a {
        color: #eeedef;
        border: 1px solid #2b0d4c;
        background-color: #270672;
          
        &:hover {
          border: 1px solid #0b0121;
          background-color: #190349;
        }
      }
    }
  }
}
