---
---

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

body {
	position: relative;
	top: 0;
	margin: 0;
	background-image: linear-gradient(to right, black, #1c0905);
	color: white;
  font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
}

main {
	padding: 50px 10%;
	min-height: 95vh;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	color: #cccccc;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.hidden {
	opacity: 0;
}

.banner {
	height: 5vh;
	min-height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lander {
	position: relative;
	height: 100vh;
	background-image: url('../img/golden-gate-sunset.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: fadeIn 1s;
}

#initials-bar {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.1);
	transition: opacity 0.2s;
}

#initials {
	height: 80%;
}

#whoami {
	position: absolute;
	top: 60vh;
	height: 100px;
	padding: 0 10%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 28pt;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 0 3px 10px black;
	letter-spacing: 10px;
}

#media-bar {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

#media-links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 5px 0;
}

#media-links .link {
	margin: 0 15px;
	height: 30px;
	width: 30px;
	filter: brightness(0.7);
}

#media-links .link:hover {
	filter: brightness(0.8);
}

#media-links .link .icon {
	height: 30px;
	width: 30px;
}

#media-links a {
	color: #bbbbbb;
}

main p {
	text-align: justify;
}

main h1 {
	margin-top: 50px;
}
